<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=DM+Sans:wght@300;400;500;600&family=DM+Mono:wght@400&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" sizes="192x192" href="{{ 'assets/images/vim-icon-192.png'|theme }}">
<link rel="stylesheet" href="{{ ['assets/less/theme.less'] | theme }}">

{% styles %}
{% placeholder head %}
